:root{
     --color-white:hsl(0,0%,100%);
     --color-red : hsl(9, 78%, 62%);
     --color-dark: hsl(0, 0%, 29%);
     --color-blue: rgb(2, 2, 43);
     font-size: 20px;
     font-family: 'Courier New', Courier, monospace;
}
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* HEADER CONTENT STYLINGS */

ul{
     list-style: none;
}
a{
     text-decoration: none;
}
.date{
     display: flex;
     align-items: center;
}
.amount{
     font-family: Purisa;
     font-size: 1rem;
     color: rgb(5, 5, 58);
     display: block;
     width: 40px;
     height: 40px;
     line-height: 40px;
     text-align: center;
}
.day{
     margin-right: 0.5rem;
     width: 100px;
}
.header1{
     display:flex;
     height: 4vh;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
}
.header1 > div{
     text-align: center;
}
.logo{
     font-weight: 700;
     color:var(--color-blue);
}
.credential{
     display: flex;
     gap: 1rem;
     justify-content: center;
}

.btn{
     display: block;
     color: var(--color-white);
     background-color: var(--color-blue);
     width: 140px;
     padding: .3rem;
     font-size: .8rem;
     transition: all 0.4s ease;
     border: 2px solid ;
}
.btn:hover{
     color: var(--color-blue);
     background-color: var(--color-white);
     border: 2px solid var(--color-blue);
}
.navbar{
     position: relative;
     display: flex;
     justify-content: space-between;
     height: 5vh;
     align-items: center;
     background-color: var(--color-blue);
     padding:0 1rem;
}
.navitem,
.catitem{
     display: inline-block;
     width: 120px;
     text-align: center;
     cursor: pointer;
     height: 100%;
}
.catitem{
     background-color:var(--color-blue);
     height: 100%;
     padding: .6rem 0;
}

.navlink::after,
.catlink::after{
     content: "";
     width: 100%;
     position: absolute;
     left: 0;
     bottom: -4px;
     width: 100%;
     height: 3px;
     background-color: var(--color-white);
     transform: scaleX(0);
     transition: all 0.4s ease;
     border-radius: 10px;
}
.navitem:hover .navlink::after,
.catitem:hover .catlink::after{
     transform: scaleX(1);
}
.navlink,
.catlink{
     position: relative;
     color: var(--color-white);
     font-size: .7rem;
     font-weight: 700;
}
.dropdown{
     position: relative;
     z-index: 1;
}
.dropdown_content{
     position: absolute;
     visibility: hidden;
     width: 100%;
     left: 0;
     top: 4vh;
     box-shadow: 0px 1px 10px ;
     transition-delay: 0.5s;
}
.dropdown:hover .dropdown_content{
     visibility: visible;
}
.hamburger{
     display: none;
}
.bar{
     display: block;
     height: 3px;
     width: 25px;
     background-color: var(--color-white);
     margin: 5px auto;
     transition: all .3s ease-in-out;
}


/* RESPONSIVENESS FOR MOBILE */

@media screen and (max-width:760px) {
     .header1{
          padding: 1rem;
          align-items: center;
     }
     .header1 .credential{
          display: none;
     }

     .amount{
          font-size: .8rem;
          width: auto !important;
          font-weight: 700;
     }
     
     .logo{
          font-size: 1rem;
          letter-spacing: -2px;
     }
     
     .navmenu{
          position: absolute;
          height: 100vh;
          left: -100%;
          top: 5vh;
          background-color: var(--color-blue);
          width: 100%;
          padding: 1rem 1rem ;
          border-top:1px solid var(--color-white);
          transition: all 0.3s ease-in-out;
     }
     .navitem{
          display: block;
          height: auto;
          text-align: left;
          font-size: 2rem;
     }
     .catitem{
          background-color: transparent;
     }
     .dropdown_content{
          top: 6vh;
          box-shadow: none;
          border: 1px solid var(--color-white);
     }
     .hamburger{
          display: block;
     }
     .active{
          left: 0;
     }
     .hamburger.active .bar:nth-child(1){
          transform: translateY(8px) rotate(45deg);
     }
     .hamburger.active .bar:nth-child(2){
          opacity: 0;
     }
     .hamburger.active .bar:nth-child(3){
          transform:translateY(-8px) rotate(-45deg) ;
     }
}
