*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:#fff;
	font-family: Arial, Helvetica, sans-serif;
}
main{
	display: flex;
	height: 90vh;
	padding: 10px;
	background:linear-gradient(to top, var(--color-blue),var(--color-white));
}
.formContainer{
	width: 100%;
	background-color:var(--color-blue);
	max-width: 360px;
	margin:auto auto;
	padding: 40px;
	border-radius: 5px;
}
h1{
	text-align: center;
	margin-bottom: 20px;
}
form{
	background:transparent;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
input{
	width: 100%;
	font-size: 20px;
	color: var(--color-blue);
	padding:6px 12px;
	margin-top: 5px;
	outline: none;
}
input[type=submit]{
	color: #fff;
	background-color: var(--color-blue);
	border: 2px solid;
}
input[type=submit]:hover{
	color: var(--color-blue);
	background-color: #fff;
	transition: all 0.5s ease;
	cursor: pointer;
}