h1{
    font-size: 40px;
    font-weight: 25px;
    text-align: center;
}
main{
    width: 100%;
    max-width: 1024px;
    color: var(--color-blue);
    border-top: 1px solid;
    margin:2rem auto;
    border: none;
    padding: 1rem;
}
.sect{
    position: relative;
    height: 40vh;
    background:linear-gradient(to top, var(--color-blueOp), var(--color-darkOp)) ,url(../img/senate.jpg) center center/cover;
    z-index: -1;
    margin-bottom: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
